.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  /* Grow to fill available space */
  display: flex;
  /* Needed to make ChatBox flex: 1 work correctly */
  flex-direction: column;
  /* Ensure children stack vertically */
  padding-top: 1rem;
  /* Add space below the Navbar */
}